/* theme color */
$--color-primary: #205EFF;
$--color-success: #35D901;
$--color-warning: #FFB700;
$--color-danger: #FF5662;
$--color-info: #893AFF;
/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";
